<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>toomuchdrinking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

    <script src="/js/beers.js"></script>

</head>
<body>

<div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="content">
    <div class="hero-unit content">
        <h2>Consumed Beers</h2>
        <p>
            Recommended maximum intake of alcoholic beverages
        </p>
    </div>
    <div class="content">
        <div class="row">

            <div class="col-sm">
                <div class='col-sm-6'>
                    <div style="width:75%;">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</th:block>

<script src="/js/stats.js"></script>

</body>
</html>
